/* ------ Normalization ------ */
html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: white;
}

/* ------ Background and typography ------ */
body {
  background-image: url(../images/rainbowleavesmobile.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

p {
  color: #491b68;
  font-family: "benton-sans", sans-serif;
  font-size: 1em;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "benton-sans", sans-serif;
  color: #491b68;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.6em;
}

ul {
  font-family: "benton-sans";
  color: #491b68;
  font-size: 1em;
}

/* ------ General Elements ------ */
.page,
.homepage {
  width: 95%;
  margin: 0 auto;
}

.usericon {
  height: 30px;
}

.commentCount {
  margin: 0;
}

/* ------ Text ------ */
#site-title {
  font-family: "Al Fresco";
  font-size: 3em;
  padding: 0;
  margin: 0.5em;
}

.instructions {
  font-size: 0.75em;
  font-style: italic;
}

/* ------ Forms ------ */
.btn {
  padding: 1em;
  border: 0;
  background-color: #491b68;
  color: white;
  text-transform: uppercase;
  border-radius: 15px;
  margin: 1em 0;
  font-weight: 700;
  letter-spacing: 1px;
}
.btn:hover {
  background-color: #7300ba;
}
.btn a {
  color: white;
  text-decoration: none;
}

.addComment {
  background-color: #7300ba;
}
.addComment:hover {
  background-color: #30cfa8;
}

.addReply {
  background-color: #00b1d6;
}

.editBtn {
  background-color: #04c80a;
}

.deleteBtn {
  background-color: #fd337d;
}

#replyForm {
  display: block;
  width: 100%;
}

.sidebar {
  background-color: #7300ba;
  color: white;
  padding: 0.5em;
}
.sidebar .loginImg,
.sidebar .loginHeading {
  display: none;
}
.sidebar .formText {
  border: 0;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 0.5em 0.25em;
  margin: 0 0.25em;
}
.sidebar .formText::-webkit-input-placeholder {
  /* Edge */
  color: white;
}
.sidebar .formText:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}
.sidebar .formText::placeholder {
  color: white;
}
.sidebar .login {
  background-color: white;
  color: #7300ba;
  padding: 0.5em;
  border-radius: 10px;
}
.sidebar #authMsg {
  color: red;
  font-weight: 700;
}

.formBtns {
  display: inline;
}

.commentForm {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em;
  max-width: 60em;
  margin: 1em auto;
  border: 1px solid #00b1d6;
  border-radius: 20px;
}
.commentForm h3 {
  text-align: left;
}
.commentForm textarea {
  border-radius: 15px;
  border: 1px solid #7300ba;
  padding: 0.5em;
  font-family: "benton-sans";
  font-size: 1em;
  line-height: 1.6;
  width: 95%;
}

/* ------ Pages ------ */
.post {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em;
  max-width: 60em;
  margin: 1em auto;
  border: 1px solid #00b1d6;
  border-radius: 20px;
}

.commentsSection {
  width: 90%;
  max-width: 60em;
  margin: 1em auto;
}
.commentsSection h2 {
  text-align: left;
}

.comment,
.response {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em;
  max-width: 60em;
  margin: 1em auto;
  border: 1px solid #00b1d6;
  border-radius: 20px;
}

.response {
  margin-left: 5em;
}

/* ------ Footer ------ */
footer {
  text-align: center;
  margin-top: 2em;
  border-top: 2px solid #491b68;
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 49em) {
  html {
    font-size: 18px;
  }

  body {
    background-image: url(../images/rainbowLeavesdesktop.png);
  }

  .usericon {
    height: 50px;
  }

  #site-title {
    font-size: 4em;
  }

  .homepage {
    width: 97%;
    margin: 0 auto;
    max-width: 80em;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "title title" "post login" "post ." "comments comments" "comments comments" "form form" "footer footer";
  }

  header {
    display: grid;
    grid-area: title;
  }

  footer {
    display: grid;
    grid-area: footer;
  }

  .post {
    display: grid;
    grid-area: post;
  }

  .commentsSection {
    display: grid;
    grid-area: comments;
    width: 100%;
    margin: 0;
  }
  .commentsSection h2 {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .commentsSection .comment,
.commentsSection .response {
    width: 100%;
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 10% 60% 30%;
    grid-template-areas: "icon title ." "body body body";
  }
  .commentsSection .comment .usericon,
.commentsSection .response .usericon {
    display: grid;
    grid-area: icon;
  }
  .commentsSection .comment .usertitle,
.commentsSection .response .usertitle {
    display: grid;
    grid-area: title;
  }
  .commentsSection .comment .responseDate,
.commentsSection .response .responseDate {
    text-align: right;
  }
  .commentsSection .comment .commentBody,
.commentsSection .response .commentBody {
    display: grid;
    grid-area: body;
  }
  .commentsSection .comment #deleteComment,
.commentsSection .comment #deleteReply,
.commentsSection .response #deleteComment,
.commentsSection .response #deleteReply {
    display: inline;
    text-align: right;
  }
  .commentsSection .comment #replyComment,
.commentsSection .response #replyComment {
    display: inline;
    text-align: left;
  }
  .commentsSection .comment #editComment,
.commentsSection .comment #editReply,
.commentsSection .response #editComment,
.commentsSection .response #editReply {
    display: inline;
    text-align: right;
  }

  #commentForm {
    display: grid;
    grid-area: form;
  }

  .sidebar {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1em;
    max-width: 60em;
    margin: 1em auto;
    border: 1px solid #00b1d6;
    border-radius: 20px;
    margin: 1em;
    color: #491b68;
    display: grid;
    grid-area: login;
    grid-template-areas: "heading heading" "username username" "password password" ". submit";
  }
  .sidebar #loginFormHeader {
    display: grid;
    grid-area: heading;
    grid-template-areas: "img heading";
    margin-bottom: 1em;
  }
  .sidebar .loginImg {
    display: grid;
    grid-area: img;
  }
  .sidebar .loginHeading {
    display: grid;
    grid-area: heading;
    text-transform: uppercase;
    color: #491b68;
    font-family: "benton-sans";
    font-weight: 700;
  }
  .sidebar #username {
    display: grid;
    grid-area: username;
    color: #491b68;
    border-bottom: 1px solid #491b68;
    margin: 0.5em 0;
  }
  .sidebar #username::placeholder {
    color: #491b68;
  }
  .sidebar #password {
    display: grid;
    grid-area: password;
    color: #491b68;
    border-bottom: 1px solid #491b68;
    margin: 0.5em 0;
  }
  .sidebar #password::placeholder {
    color: #491b68;
  }
  .sidebar .login {
    display: grid;
    grid-area: submit;
    padding: 1em;
    border: 0;
    background-color: #491b68;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    margin: 1em 0;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #7300ba;
  }
  .sidebar .login:hover {
    background-color: #7300ba;
  }
  .sidebar .login:hover {
    background-color: #30cfa8;
  }
}

/*# sourceMappingURL=style.css.map */
